.calculator {
  margin-top: 50px;
  text-align: center;
}

.calculator button {
  outline: 0 !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  border-radius: 3px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.open {
  color: limegreen;
}

.danger {
  color: indianred;
}

.itemName {
  border-radius: 5px;
  height: 70px;
  border: 1px solid #ccc;
  max-width: 250px;
  margin-left: 41%;
  margin-bottom: 10px;
}


